@model Lesson

@{
    ViewData["Title"] = "Create Lesson";
}

<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header bg-primary text-white">
            <h3>Create Lesson</h3>
        </div>

        <div class="card-body">

            <form asp-action="Create" method="post">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="mb-3">
                    <label asp-for="Title" class="form-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Description" class="form-label"></label>
                    <textarea asp-for="Description" rows="4" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="VideoUrl" class="form-label"></label>
                    <input asp-for="VideoUrl" class="form-control" />
                    <span asp-validation-for="VideoUrl" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Order" class="form-label"></label>
                    <input asp-for="Order" type="number" min="1" class="form-control" />
                    <span asp-validation-for="Order" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="CourseId" class="form-label"></label>

                    <select asp-for="CourseId" class="form-select">

                        <option value="">-- Select Course --</option>

                        @foreach (var course in ViewBag.Courses)
                        {
                            <option value="@course.Id">
                                @course.Title
                            </option>
                        }

                    </select>

                    <span asp-validation-for="CourseId" class="text-danger"></span>

                </div>

                <button type="submit" class="btn btn-success">
                    Create
                </button>

                <a asp-action="Index" class="btn btn-secondary">
                    Back
                </a>

            </form>

        </div>

    </div>

</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}