html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: linear-gradient(135deg, #41414b, #66558f);
    min-height: 100vh;
}


    /* تأثير بنفسجي أعلى الصفحة */
    body::before {
        content: "";
        position: fixed;
        width: 350px;
        height: 350px;
        background: #8b5cf6;
        border-radius: 50%;
        filter: blur(140px);
        top: -100px;
        left: -100px;
        opacity: .25;
        z-index: -1;
    }



    /* تأثير وردي أسفل الصفحة */
    body::after {
        content: "";
        position: fixed;
        width: 300px;
        height: 300px;
        background: #ec4899;
        border-radius: 50%;
        filter: blur(120px);
        bottom: -100px;
        right: -100px;
        opacity: .20;
        z-index: -1;
    }
