@model REVAACOURSES.ViewModels.NewPasswordPVM

@{
    ViewData["Title"] = "NewPassword";
}

<div class="container">
    <h1>NewPassword</h1>

    <h4>NewPasswordPVM</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="NewPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="UserId" hidden />
                <input asp-for="Token" hidden />

                <div class="form-group">

                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group mt-3
                    ">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
